@media (max-width: 768px) {
    .nav {
        background-color: aqua;
    }
}

@media (max-width: 425px) {
    .nav {
        background-color: brown;

        .nav__button {
            display: none;
        }

        .nav__gamburger {
            display: unset;
        }
    }
}