$color_menu_on: #56B356;
$color_menu_off: #3E802A;
$color_button_on: #CC6C3B;
$color_button_off: #80482B;
$color_text: #F2F0FF;
$color_background1: #303033;
$color_background2: #202023;
$font_family_main: roboto slab;
$font_weight_main: 600;